
.navigation{
  width: 100%;


  .flex-content{
    display: flex;
    padding: 15px;
    color: white;
    background-color: rgb(134, 55, 55);
    align-items: center;
    justify-content: space-around;
  }
}